<body style="margin:0;" ng-app="app">

    <canvas data-onion-menu width="800" height="600" style="border: 1px solid black;"></canvas>
    <!-- <angular-memory-stats></angular-memory-stats> -->

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <!-- <script type="text/javascript" src="node_modules/angular-memory-stats/dist/angular-memory-stats.min.js"></script> -->
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="OnionMenuElement.js"></script>
    <script type="text/javascript" src="OnionMenuRing.js"></script>
    <script type="text/javascript" src="OnionMenu.js"></script>
</body>
